* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* Distribucion básica de la página */
#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilamos el header */
/* Primero la barra de navegación */
header {
    background-color: #1F2937;
    margin-top: 2em;
}

nav {
    width: 100%;
    padding: 0.5em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px #e73131;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 10;
}

.links {
    display: flex;
    align-items: center;
    list-style: none;
}

.links > li {
    margin: 0 1em;
}

.links > li > a {
    text-decoration: none;
    color: #1F2937;
    font-size: 18px;
    transition: color 0.3s;
}

.links > li > a:hover {
    color:#e73131;
}

nav > img {
    width: 50px;
    height: auto;
}
/* Ahora el banner superior */

#sub-header, .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 4vw;
    justify-content: center;
    gap: 2vw;
    align-items:start;
}

#sub-header {
    height: 100%;

}

.left, .right {

    min-width: 224px;
}

.left { 
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.header {
    color: #F9FaF8;
    font-size: 48px;
    flex: 0 1 auto;
}

.left > p {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    margin-top: 1em;
    flex: 1;
}

.right {
    flex: 1 0 70%;
    height: 90%;
    position: relative;
    overflow: hidden;
}
 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-button {
    padding: 1em;
    color: #E5E7EB;
    text-decoration: none;
    background-color: #e73131;
    text-align: center;
    border-radius: 3px;
    transition: all 0.3s;
}

.contact-button:hover {
    box-shadow: 5px 5px 10px black;
   transform-origin: 0% 0%;
   transform: rotate3d(15,-5,0,25deg);
    
}

.card {
    background-color: #e73131;
    padding: 0.8em;
    border-radius: 15px;
    flex: 1;
    flex-shrink: 0;
}

.card > img {
    border-radius: 15px;
}

.card > p {
    color: #E5E7EB;
    text-align: center;
}
#home > h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
    color: #e73131;
}

#about {
    background-color: lightgrey;
    padding: 4em 8em;
    font-size: 1.5em;
    font-weight: 100;
}
.sign {
    text-align: right;
    font-weight: 900;
    padding: 1em 2em;
}
#contact {
    padding: 3em 8em;
}
.container {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    color: #E5E7EB;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 2em 4em;
}
.container > p {
    padding: 1em;
    flex: 5;
}

.container > button {
    flex: 1;
}

footer {
    background-color: #1F2937;
    padding: 1em 0;
    color: #E5E7EB;
    text-align: center;
}